
#comment_form{
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    height: 43px;
    align-items: flex-end;
}

#comment_form input[type=text]{
    border-radius:0px;
    width: 100%;
    border:0;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    background-color: #f1f2f3;
}

#comment_form button{
    border-radius:0;
    border: none;
    background-color:inherit;
    /* height:40px;
    width:40px; */
    color: grey;
    position: absolute;
    right: 0;
    top: 0;
}
#content_container{
    position: relative;
    top: 30px;
    left: 10%;
    z-index: 4;
    height: calc(100% - 76px);
    width: 55%;
    background-color:#1b1b1b;
    box-sizing: border-box;
}
#content{
    width: 100%;
    padding-right: 20px;
    padding-top: 46px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    z-index: 2;
    height: 100%;
}
#playlist, #recomendation{
    position: fixed;
    top: 76px;
    right: 10%;
    z-index: 4;
    padding-bottom:60px;
    overflow-x: auto;
    display: block;
    width: 25%;
    text-align: center;
    background-color: inherit;
/*    border: 1px solid rgb(10, 10, 10);*/
    padding: 10px;
    height: 70%;
}

.video_container{
    display: block;
    width: 100%;
}
.video_container img{
    width: 300px;
    min-width: 300px;
    outline: none;
    border-radius: 8px;
}
#player_container{
    display: block;
    width: 100%;
    text-align: center;
}
#player_container video{
    /* height: 60vh; */
    outline: none;
}

#comment_form{
    padding-bottom: 20px;
}
#video{
    width: 100%;
    box-shadow:4px 4px 8px #0d0d0e;
}

.recomendation_link{
    display: flex;
    width: 100%;
    background-color: black;
    font-size: 12px;
    margin-bottom: 10px;
    border: 2px solid orangered;
    border-radius: 4px;
}
.recomendation_link img{
    display: block;
    width: 50%;
}
.recomendation_link a{
    display: block;
    width: 50%;
    color: gray;
    font-weight: bold;
    
}
.recomendation_link a:hover{
    text-decoration: none;
}
@media screen and (max-width: 832px) {
    #content_container {
        top: 30px;
    }
    #recomendation {
        top: 76px;
    }
    .video_link{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        /* max-width: 50%; */
    }
}
@media screen and (max-width: 747px) {
    #content_container {
        width: 100%;
        left: 0;
        height: auto;
    }
    #recomendation, #playlist {
        position: relative;
        width: 97%;
        right: 0;
        left: 0;
        top: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 600px) {
    #navbar{
        padding: 10px;
    }
    .video_link{
       width: 40%;
        /* max-width: 50%; */
    }
    .logo{
        display: none;
    }
    #sm_logo{
        display: block;
        height: 15px;
        width: 15px;
    }
    #sm_logo img{
        display: block;
        height: 15px;
        width: 15px;
    }
    #search_form{
        display: none;
        width: 100%;
    }
    #open_search_form{
        display: block;
        color: rgb(124, 22, 192);
        font-size: 15px;
    }
    .auth{
        border: none;
    }
}
/* @media screen and (max-width: 400px) {
    .video_link{
       width: 100%;
       white-space: pre-line;
       text-overflow:initial;
       border-bottom: 1px solid silver;
    }
} */

@media screen and (max-width: 832px) {
    .recomendation_link a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50%;
    }
}

